<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="category">
<div class="container">
    <div class="row" style="height:230px;">
        <div class="col-md-3 categories" style="background-color:#7B8462;">
            <div class="container">
                <a href="#">
                    <span class="fcWhite">랍스타옥션 이용가이드</span><br/>
                    <span class="img-icon fcWhite">
            <img src="images/이용가이드.gif">
          </span>
                </a>
            </div>
        </div>
        <div class="col-md-2 categories" style="background-color:#2f4e7c;">
            <div class="container">
                <a href="#">
                    <span class="fcWhite">공지사항</span><br/>
                    <span class="img-icon fcWhite">
            <img src="images/공지사항.gif">
          </span>
                </a>
            </div>
        </div>
        <div class="col-md-3 categories" style="background-color:#b4a586;">
            <div class="container">
                <a href="#">
                    <span class="fcWhite">경매 및 판매 컨설팅</span><br/>
                    <span class="img-icon fcWhite">
            <img src="images/경매%20컨설팅.gif">
          </span>
                </a>
            </div>
        </div>
        <div class="col-md-2 categories" style="background-color:#a74141;">
            <div class="container">
                <a href="#">
                    <span class="fcWhite">회사소개</span><br/>
                    <span class="img-icon fcWhite">
            <img src="images/회사소개.gif">
          </span>
                </a>
            </div>
        </div>
        <div class="col-md-2 categories" style="background-color:#707070;">
            <div class="container">
                <a href="#">
                    <span class="fcWhite">랍스타옥션 인스타그램</span><br/>
                    <span class="img-icon fcWhite">
            <img src="images/인스타그램.gif">
          </span>
                </a>
            </div>
        </div>
    </div>
</div>
</th:block>
</html>