<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:blcok th:fragment:footer>
<div class="container-fruid" style="background-color:#e6e6e6;">
    <div class="container">
        <div class="pull-left">
            <img src="images/라이센스.gif">
        </div>
    </div>
</div>

<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">홈</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">온라인경매</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">물품등록</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">회사소개</a></li>
        </ul>
        <p class="text-center text-muted">&copy; 2023 랍스타 프로젝트, Inc</p>
    </footer>
</div>
</th:blcok>
</html>