@charset "UTF-8";
.box-image{
    background: #114da5;
    color: white;
    text-align: center;
    letter-spacing: -2px;
    font-weight: 700;
    font-size: 23px;
    margin-top: 90px;
}

.box-image > p {
    margin-bottom: 0px;
}

.box-content > ul {
    list-style: none;
    border: 1px solid #114da5;
}

.box-content > ul > li {
    letter-spacing: -1px;
}

div > table {
    width: 100%;
    border-top: 1px solid black;
    background: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}

div > table > thead > tr > th {
    background: #f8f8f8;
    color: #444444;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    width: 200px;
    padding: 7px 25px;
    border-bottom: 1px solid #ddd;
    height: 45px;
}

div > table > tbody > tr > th {
    background: #f8f8f8;
    color: #444444;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    width: 200px;
    padding: 7px 25px;
    border-bottom: 1px solid #ddd;
    height: 45px;
}

div > table > tbody > tr > td {
    font-size: 14px;
    padding: 7px 25px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    height: 45px;
}

div > table > thead > tr > td {
    font-size: 14px;
    padding: 7px 25px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    height: 45px;
}

.menuNo, .updateNo, .deleteNo{
    width: 100px;
    height: 30px;
    text-align: center;
    margin-top: 10px;
    background: #114da5;
    color: white;
    text-decoration: none;
}

.deleteNo {
    margin-left: 15px;
}

.menuNo {
    margin-left: 35px;
}


