@charset "UTF-8";
* {
	box-sizing: border-box;
}

.header1 {
	width: 100%;
	height: 50px;
	background-color: #464646;
}

.header1 > .container >  ul {
	display:flex;
	list-style:none;
	
}

.header1 > .container > ul > li {
	margin-left: 10px;
	margin-top: 10px;
	letter-spacing:-1px;
}

.header1 > .container > ul > li > a{
	text-decoration: none;
	color: white;
}

.menu1 {
	list-style:none;
	letter-spacing: -1px;
	display : flex;
}

.menu1 > li {
	margin-left: 30px;
	margin-top: 27px;
	font-size: 25px;
}

.menu1 > li > a {
	text-decoration: none;
	color: black;
}

.header2 {
	width: 100%;
	height: 100px;
	background-color: white;
}

.header2 > a > img {
	margin-left: 35px;
	margin-top: 20px;
	}
	
	
#applyPro {
	width:150px;
	height: 150px;
	background-color: #114da5;
	color: white;
	border-radius: 5px 5px 5px 5px;
	}