<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}">
<th:block layout:fragment="content">
    <style>

    </style>
    <link rel="stylesheet" type="text/css" href="/css/main/bbs.css">

    <!-- 메인 상품 카테고리 창 -->
    <div class="album py-5 bg-light">
        <div class="container">
            <form action="searchAll" method="post">
                <div class="row">
                <div class="col-md-6">
                    <h1 style="letter-spacing: -9px;">오늘의 인기 경매</h1>
                </div>
                <div class="col-md-6">
                    <input type="text" name="searchTxt" id="searchTxt" placeholder="현재 카테고리 검색">
                    <button class="btn btn-default fs16" type="submit"></button>
                </div>


            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col" th:each="bbs : ${re}">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div class="card-body">
                            <p class="card-text"><a th:href="@{mainView(proNumber=${bbs.proNumber})}" style="text-decoration: none; color: black; overflow: hidden;">[[${bbs.proHead}]]</a></p>
                            <P class="card-pay"><a th:href="@{mainView(proNumber=${bbs.proNumber})}">현재가 : [[${bbs.proStartMoney}]]원</a></P>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="#"><button type="button" class="btn btn-sm btn-outline-secondary">입찰</button></a>
                                </div>
                                <small class="text-muted">2일 9시간 32분 남음</small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
            </form>
    </div>

   <!-- 페이징 -->

    <!-- 페이징 -->
    <div class="pager" style="background: #f8f9fa; margin-bottom: 15px;">

        <nav aria-label="...">
            <ul class="pagination"  style="justify-content: center; margin-top: 35px;">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item" th:each="page : ${#numbers.sequence(startPage, endPage)}" th:class="${page == nowPage} ? 'active' : ''">
                    <a class="page-link" href="#" th:if="${page != nowPage}" th:href="@{/bbs(page=${page - 1})}" th:text="${page}"></a>
                    <span th:if="${page == nowPage}" th:text="${page}" class="page-link active"></span>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>

    </div>


    </div>

</th:block>