<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}">
<th:block layout:fragment="content">
    <style>

    </style>
    <link rel="stylesheet" type="text/css" href="/css/join/join_main.css">
    <div class="container" style="text-align:center; margin-top: 20px; margin-bottom: 25px;">
        <div class="row" style="border: 1px solid black;">
            <div class="col-md-6 banner1">
                <p style="margin-top:150px; margin-bottom: 0px;">랍스타옥션</p>
                <P>회원이신가요?</P>
                <p style="font-size:15px;">경매를 원하시면 로그인을 눌러주세요</p>
                <div id="log-box">
                    <a href="/login">로그인</a>
                </div>
            </div>


            <div class="col-md-6">
        <form method="post" action="/join">
        <h2 style="margin-top: 10px;">랍스타 회원가입</h2>
        <h5>하나의 아이디로 랍스타의 다양한 서비스를 이용해보세요</h5>
            <div class="form-group d-flex justify-content-between align-items-center mb-2">
        <input name="userId" id="idText" type="text" placeholder="아이디를 입력하세요" style="width: 40%; height: 50px">
            <button type="button" onclick="checkDuplicateId()" style="border: none; background: #114da5; width: 18%; height: 50px; color: white; border-radius: 5px;">중복 검사</button>
            <span id="idCheckMessage" style="color:red; width: 40%;"></span>
        </div>
            <div class="form-group mb-2" style="width: 59%;">
                <input name="userEmail" type="email" placeholder="이메일을 입력하세요" style="width: 100%; height: 50px;">
            </div>

            <div class="form-group mb-2" style="width: 59%;">
                <input name="userPass" id="passText" type="password" placeholder="패스워드를 입력하세요" style="width: 100%; height: 50px;">
            </div>

            <div class="form-group mb-2 d-flex align-items-center justify-content-between">
                <input id="passConfirm" type="password" placeholder="패스워드 확인" style="width: 59%; height: 50px;">
                <span id="passError" style="color:red; width: 40%;"></span>
            </div>




            <div class="form-group">
        <label> 우편 코드 </label>
        <input name="userZip" type="text" class="form-control" placeholder="우편 코드">
            </div>
            <div class="form-group">
        <label> 도로명 주소</label>
        <input name="userAdd" type="text" class="form-control" placeholder="도로명 주소">
            </div>
            <div class="form-group">
        <label> 상세 주소</label>
        <input type="text" class="form-control" placeholder="상세 주소">
            </div>
            <div class="container">
        <input type="checkbox">
        <label id="service1">랍스타의 서비스 이용에 동의합니다 </label>
                 </div>
        <input type="submit" value="가입하기" id="submit1"><br/><br/>
        </form>
            </div>


       </div>
    </div>

    <script>
        let passTxt = document.querySelector("#passText");
        let passConfirm = document.querySelector("#passConfirm");
        let passError = document.querySelector("#passError");

        passConfirm.addEventListener("input", function(e){
            if(passTxt.value !== passConfirm.value){
                passError.innerHTML = "패스워드가 서로 다릅니다"
            }
            else {
                passError.innerHTML = "";
            }
        });

        function checkDuplicateId() {
            let userId = $("[name='userId']").val();
            $.ajax({
                url: "/checkDuplicateId",
                type: "POST",
                data: { userId: userId },
                success: function(response) {
                    if(response == "exist") {
                        $('#idCheckMessage').text("이미 사용중인 아이디입니다.");
                    } else {
                        $('#idCheckMessage').text("사용 가능한 아이디입니다.");
                    }
                }
            });
        }
    </script>
</th:block>