<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}">
<th:block layout:fragment="content">
    <style>

    </style>
    <link rel="stylesheet" type="text/css" href="/css/login/myPage/modify.css">

     <div class="container">
         <h2>기본정보입력</h2>
         <div class="row mt40">
             <form action="modified" method="post";>
                 <table class="container-fruid">
                    <tbody>
                       <tr>
                           <th>아이디</th>
                           <td>
                               <input type="hidden" id="userId" name="userId" value="">
                               1
                           </td>
                       </tr>
                       <tr>
                           <th>비밀번호</th>
                           <td>
                               <input type="password" id="userPassword" name="userPassword" value="">

                           </td>
                       </tr>
                       <tr>
                           <th>E-mail</th>
                           <td>
                               <input type="email" id="userEmail" name="userEmail" value="">

                           </td>
                       </tr>
                       <tr>
                           <th rowspan="2">주소</th>
                           <td>1</td>
                       </tr>
                       <tr>
                           <td>1</td>
                       </tr>
                       <tr>
                           <th>전화번호</th>
                           <td>
                               <input type="number" id="userNumber" name="userNumber" value="">

                           </td>
                       </tr>
                    </tbody>
                 </table>

                 <div class="confirm" style="display:flex; justify-content: center;">
                     <input type="submit" value="확인">
                     <button type="button">취소</button>
                 </div>
             </form>
         </div>

     </div>


</th:block>