<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}">
<th:block layout:fragment="content">
    <style>

    </style>
    <link rel="stylesheet" type="text/css" href="/css/notice/view/view_main.css">

    <div class="container">
        <div class="row" style="height:800px; width:100%;">
            <div class="col-md-2">
                <div class="container box-side">
                    <div class="box-image">
                        <p>랍스타 옥션</p>
                        <P>고객 센터</P>
                    </div>
                    <div class="box-content">
                        <ul>
                            <li style="border-bottom: 1px solid #114da5;">
                                <a href="/notice" style="text-decoration: none; color: black;">공지사항</a></li>
                            <li><a href="/qna" style="text-decoration: none; color: black;">질의사항</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-10">
                <h1 style="letter-spacing: -2px; font-weight: 700; margin-top: 20px;"> 질의사항 </h1>

                <table th:object="${list2}">
                    <thead>
                    <tr>
                        <th>글 제목</th>
                        <td th:value="*{bbsHead}" th:text="*{bbsHead}">1</td>
                    </tr>
                    <tr>
                        <th>등록일</th>
                        <td th:value="*{bbsDate}" th:text="*{bbsDate}">1</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="height: 515px;">
                        <th>
                            글 내용
                        </th>
                        <td>
                            <p th:value="*{bbsContent}" th:text="*{bbsContent}" style="white-space: pre">12345</p>
                        </td>
                    </tr>
                    </tbody>

                </table>
                <div class="row" style="margin-bottom: 30px; justify-content:flex-end;">
                    <a href="qna" class="col-md-3 menuNo">목록</a>
                <div th:if="${session.user} != null and ${session.user.userId} eq ${list2.userId}" class="row">

                    <a th:href="@{/update2(qnaNumber=${list2.qnaNumber})}" class="col-md-3 updateNo">수정</a>
                    <a th:href="@{/delete2(qnaNumber=${list2.qnaNumber})}" class="col-md-3 deleteNo" style="background: #8e8e8e;">삭제</a>
                </div>
            </div>



        </div>
    </div>
    </div>
    </div>

</th:block>