<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}">
<th:block layout:fragment="content">
  <style>

  </style>
  <link rel="stylesheet" type="text/css" href="/css/notice/view/view_main.css">

  <div class="container">
    <div class="row" style="height:800px; width:100%;">
      <div class="col-md-2">
        <div class="container box-side">
          <div class="box-image">
            <p>랍스타 옥션</p>
            <P>고객 센터</P>
          </div>
          <div class="box-content">
            <ul>
              <li style="border-bottom: 1px solid #114da5;">
                <a href="/notice" style="text-decoration: none; color: black;">공지사항</a></li>
              <li><a href="/qna" style="text-decoration: none; color: black;">질의사항</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-10">
        <h1 style="letter-spacing: -2px; font-weight: 700; margin-top: 20px;"> 글 내용 </h1>



      </div>



        </div>
      </div>
    </div>
  </div>

</th:block>