<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}">
<th:block layout:fragment="content">
  <style>

  </style>
  <script src="//cdn.ckeditor.com/4.20.2/standard/ckeditor.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/notice/write2_main.css">


  <div class="container">
    <div class="row" style="width:100%;">
      <div class="col-md-2">
        <div class="container box-side">
          <div class="box-image">
            <p>랍스타 옥션</p>
            <P>고객 센터</P>
          </div>
          <div class="box-content">
            <ul>
              <li style="border-bottom: 1px solid #114da5;">
                <a href="/notice" style="text-decoration: none; color: black;">공지사항</a></li>
              <li><a href="/qna" style="text-decoration: none; color: black;">질의사항</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-10">
        <h1 style="letter-spacing: -2px; font-weight: 700; margin-top: 20px;"> 질의사항 글쓰기 </h1>

        <form method="post" action="">
          <table>

            <tbody>
            <tr>
              <th>글제목</th>
              <td>
                <input type="text" name="textHead" placeholder="제목을 입력해주세요" style="width: 100%;">
              </td>
            </tr>

            <tr>
              <th>글내용</th>
              <td>
                <textarea name="textContent"  placeholder="내용을 입력해주세요" id="textContent">

                </textarea>
              </td>
            </tr>
            </tbody>

          </table>

          <div id="submitBtn">
            <input type="submit" value="등록">
            <button type="button" id="cancelBtn" onclick="history.back();">취소</button>
          </div>
        </form>


      </div>



    </div>
  </div>
  </div>
  </div>

  <script>
    $(function () {
      CKEDITOR.replace('textContent', {
        filebrowserUploadUrl : '${pageContext.request.contextPath}/adm/fileupload.do'
      });
    });
  </script>
</th:block>