@charset "UTF-8";
.imgBig {
    width: 560px;
    height: 502px;
    border: 1px solid #ddd;
}

.imgBig > p {
    display: table-cell;
    width: 100%;
    height: 500px;
    vertical-align: middle;
    text-align: center;
}

.imgBig > p > img {
    width: 100%;
    height: 100%;

}

table {
    width: 100%;
    border-top: 1px solid #b7b7b7 !important;
    border-bottom: 1px solid #b7b7b7 !important;
}

table > tbody > tr > th {
    padding: 8px 15px;
    vertical-align: middle !important;
    height: auto;
    font-size: 14px;
    text-align: left;
    color: #444444;
    background: #f8f8f8;
    width: 115px;
}

table > tbody > tr > td {
    margin-left: 15px;
}

.wp100 {
    width: 100% !important;
    padding: 10px 16px;
    line-height: 1.33333;
    text-align: center;
    border: 1px solid transparent;
    background: #114da5;
    text-decoration: none;
    color: white;
}

.wp110 {
    background : #b3a586;
    color: white;
    border: 1px solid #b3a586;
    width: 100% !important;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 16px;
    font-weight: normal;
    text-align: center;
}

.wp120 {
    background: #afafaf;
    color: white;
    border: 1px solid #afafaf;
    width: 100% !important;
    font-size: 16px;
    padding: 10px 16px;
    text-decoration: none;
    text-align: center;
}

#bidMoney {
    font-size: 26px;
    color: #114da5;
    font-weight: 700;
}

.now-price {
    margin-top: 8px;
}

.text-right {
    background: #114da5;
    color: white;
    padding: 6px 12px;
    font-weight: 700;
    text-align: center;
    width: 250px;
    height: 50px;
}

.fs16 {
    font-size: 16px;
    border-bottom: 1px solid #114da5;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 25px;
}

.fs16 > li {
    width: 200px;
    float: left;
    margin-bottom: -1px;
}

.fs16 > li > a {
    color: #114da5;
    cursor: default;
    background-color: white;
    border: 1px solid #114da5;
    border-bottom-color: transparent;
    margin-left: 2px;
    line-height: 1.42857143;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

.submit2 > input {
    background: #114da5;
    text-decoration: none;
    color: white;
    line-height: 1.3333;
    text-align: center;
    padding: 10px;
    border: none;
}

.submit2 > button {
    background: #afafaf;
    text-decoration: none;
    color: white;
    line-height: 1.3333;
    text-align: center;
    padding: 10px;
    border : none;
}

.submit2 {
    border-top : 1px solid black;
    border-bottom: 1px solid black;
    padding-top : 20px;
    padding-bottom: 20px;
}

table > tbody > tr > td {
    padding-left : 15px;
}

.modal-header {
    padding: 15px;
    background: #114da5;
    color: #fff;
}

.modal-title {
    font-size: 18px;
}

.modal-title > strong {
    font-weight: 700;
}

.close {
    background: url("../resources/static/images/main/취소.png");
    opacity: 1;
    height: 28px;
    width: 28px;
}
